
*{
    box-sizing: border-box;
}

.row:after{
    content : "";
    clear: both;
    display: block;
}
    [class*="col-"]{
    float: left;
    padding: 13%px;
    }

/* For desktop: */
.col-1 {width: 20%;}
.col-2 {width: 80%;}
.col-3 {width: 90%;}
.col-4 {width: 100%;}

  @media only screen and (max-width: 1000px){
    /* For mobile phones: */
    [class*="col-"]{
     width: 100%;
    }
    [class="col-1"]{
     height: 50%px;
    }
    [class="col-2"]{
     height: 50%px;
    }
    [class="col-3"]{
     height: 50%px;
    }
  }

  .menu {
    background-color: rgb(225, 225, 225);
    padding: 5%px;
    height: 5%px;
      width:75%;
      margin-left: 2%;
      text-align:center;

  }

  .opt1 {
     background-color: rgb(255, 255, 255);
    padding: 12%px;
    height: 20%px;
        width: 75%px;
        margin-top: 2%px;
        margin-left: 15%px;
      text-align:center;
       border: 1vw solid black;


  }

    .opt2{
   background-color: rgb(255, 255, 255);
    padding: 12%px;
    height: 20%px;
        width: 75%px;
        margin-top: 2%px;
        margin-left: 15%px;
        text-align:center;
        border: 1vw solid brown;

  }

    .opt3{
    background-color: rgb(255, 255, 255);
    padding: 12%px;
    height: 20%px;
        width: 75%px;
        margin-top: 2%px;
        margin-left: 15%px;
        text-align:center;
        border: 1vw solid red;


  }
    .opt4 {
     background-color: rgb(255, 255, 255);
    padding: 12%px;
    height: 20%px;
        width: 75%px;
        margin-top: 2%px;
        margin-left: 15%px;
      text-align:center;
       border: 1vw solid yellow;


  }
@keyframes hoverMe {
    10% {background-color: blue;}
    75% {background-color: white;}

}
    .opt1:hover {
    animation-name: hoverMe;
    animation-duration: 1s;
    animation-iteration-count: 20;
}
    .opt2:hover {
    animation-name: hoverMe;
    animation-duration: 1s;
    animation-iteration-count: 20;
}
    .opt3:hover {
    animation-name: hoverMe;
    animation-duration: 1s;
    animation-iteration-count: 20;
}
    .opt4:hover {
    animation-name: hoverMe;
    animation-duration: 1s;
    animation-iteration-count: 20;
}