<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Or Benshahar's CV </title>
        <link rel="stylesheet" href="../static/CVWEB.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src=CVWEB.js"> </script>
    </head>
    <body>
         <div class="row">
             <div class="col-1 menu"> <a href="#Profile">Profile </a>|<a href="#Work Experience and millitary service">Work Experience and millitary service </a>|<a href="#Abillities and hobbies">Abillities and hobbies </a>|<a href="#Contact">Contact </a>| </div>


             <div class="row">

        <div id= "Profile"class="col-2 right opt1">Profile</div>

        <a class="first text">
            <br> <br>
            Born in the north of israel and raised in Mazkeret Batia,<br>
            Interested in technology and sports technology in particular.<br>
            Today I'm a 3rd year Industrial and management student at BGU university.<br>

        </a>

        <a class="details">
            <h4>Name:</h4>Or Benshahar<br>
            <h4>Age:</h4>28<br>
            <h4>Location:</h4>Beer Sheva, Israel
        </a>
        <img class="pablo-pic" src="../static/1pic.jpg" alt="First pic">


    </div>
        <div id= "Work Experience and millitary service"class="col-2 right opt2">Work Experience and millitary service</div>

</div>

             <div id= "Experience" class="col-2 right opt1"></div>
             <a class="second text">
                 <br>
            Participates in an information systems specialization,<br>
            Have useful software experience: Java, SQL, LV, Python, Office, C, C#, MsProject,<br>
                 Served as a liaison officer in the Infantry Regiment and Engineering Battalion.</a>
<br>
            <a class="detailsArmy">
            <h4>Military role:</h4>ICT officer<br>
            <h4>Awarded by the brigade commander for Operation Tzuk Eitan.</h4><br>
            <h4>Outstanding Division 162 on Independence Day 2014.</h4>
        </a>
                 <img class="armyPic" src="../static/armyPic.jpg" alt="second pic">

             <div id= "Abillities and hobbies"class="col-2 right opt3">Abillities and hobbies</div>
                      <div id= "Abill and Hobb" class="col-2 right opt1"></div>
                    <a class="third text">
                        <br><br>
                      Have analytical skills and high management skills,<br>
                      Ability to work in a team and interpersonal abilities at a high level ,<br>
                      Main hobbies: sports, extreme sports, investing and hiking, <br>
                      Have Licensed basketball coach and founded a mature basketball team. <br>
                    </a>
                 <a class="detailsAbb">
            <h4>Have Licensed basketball coach</h4><br>
            <h4>founded a mature basketball team including :</h4><br>
            <h4>Professional, financial and logistical management</h4>
        </a>

                 <img class="basketPic" src="../static/basketPic.jpg" alt="third pic">

             <div id= "Contact"class="col-2 right opt4">Contact</div>

                <a class="forth text">
                        <br><br>
                      Leave details and I will get back to you soon<br><br>
                    </a>
                 <div class="contact-body">
    <div id="contact-form">
    <form id="contact-form-id" class="contact-form-class" method="post">
        <div class="contact-form-group">
            <label for="Name" class="contact-label">Name:*</label>
            <div class="contact-input-group">
                <input type="text" id="Name" name="Name" class="contact-form-control" required>
            </div>
        </div>

        <div class="contact-form-group">
            <label for="Email" class="contact-label">Email:*</label>
            <div class="contact-input-group">
                <input type="email" id="Email" name="Email" class="contact-form-control" required>
            </div>
        </div>

        <div class="contact-form-group">
            <label for="Message" class="fcf-label">Massage:*</label>
            <div class="contact-input-group">
                <textarea id="Message" name="Message" class="contact-form-control" rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

        <div class="contact-form-group">
            <button type="submit" id="fcf-button" name="Send massage" class="contact-btn contact-btn-primary contact-btn-lg contact-btn-block" oneclick ="firstFunc()">Send message</button>
        </div>
    </form>
    </div>

</div>

<button class="contact HTML" onclick="document.location='project7.html'">Press to entry the contact list</button>
    </body>
</html>


